{% extends "base_generic.html" %}

  {% block content %}
  <h1>About Us!</h1>
  <p>Hi! Thanks for stopping by. We are David, Kirsten, and Lillian, three seniors at Stuyvesant High School working with our incredible mentor
  Logan to bring BELP (or BathroomHelp) to life.</p>
  <p>As New Yorkers ourselves, we know it can either seem impossible to find a bathroom in an emergency, or you find that the one you end up at is really dirty.
    Being in situations like these prove to be extremely stressful and we want to be the solution and preventive measure. BELP aims to takes your
    location and finds the nearest available bathrooms. Among the kinds of bathrooms listed will be public park bathrooms, private business bathrooms,
    and everything in between to account for places that have some restrictions, like a purchase first. The app will also allow for user ratings that
    help bathroom seekers get a better idea of what the environment and facilities are like. Everyone has different needs and we want users
    to identify nearby restroom locations they feel are safe and clean enough to use.</p>
  <p>We hope we can BELP you.</p>
  {% endblock %}
